.reset_container{
    .full_section{
        .pass_reset_form{
            input{
                font-size: 14px;
                &:focus{
                    box-shadow: none;
                    border-color: #babbbb;
                }
            }
            button{
                font-size: 14px;
                padding: 4px;
            }
        }
    }
}