.post_contanier{
    margin: 10px 0;
    .post_full_sec{
        .post_card{
            .card-header{
                display: flex;
                justify-content: space-between;
                background: #fff;
                align-items: center;
                padding: 10px;
                
                .post_user_info{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .post_user_profile_photo{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background: url(./userNameBG.jpg) no-repeat;
                        padding: 4px;
                        background-size: cover;
                    }
                    .post_user_name{
                        display: flex;
                        flex-direction: column;
                        .post_username{
                            font-size: 14px;
                            color: #262626;
                        }
                        .post_location{
                            font-size: 12px;
                            color: #262626;
                        }
                    }
                }
                .post_option{
                    margin-top: -10px;
                    a{
                        font-size: 20px;
                        color: #262626;
                        margin-top: -5px;
                        font-weight: 600;
                    }
                }
            }
            .card-body{
                padding: 5px 10px;
                .post_like_comment{
                    display: flex;
                    justify-content: space-between;
                    .post_menu{
                        ul{
                            display: flex;
                            gap: 10px;
                            align-items: center;

                            li{
                                a{
                                    svg{
                                        color: #2b2b2b;
                                        font-size: 25px;
                                        &:hover{
                                            color: #8e8e8e;
                                        }
                                    }
                                }
                            }
                                                        
                            .comment_icon {
                                a{
                                    font-size: 20px;
                                }
                            }
                        }
                        .post_like_view{
                            font-size: 14px;
                            color: #262626;
                            font-weight: 600;

                        }
                    }
                    .post_boockmark{
                        a{
                            svg{
                                color: #2b2b2b;
                                font-size: 25px;
                                &:hover{
                                    color: #8e8e8e;
                                }
                            }
                        }
                        
                    }
                }
                .post_conten{
                    .comment_conten{
                        font-size: 14px;
                        font-weight: 300;
                        color: #262626;
                        margin: 0;
                        .post_user_username{
                            color: #262626;
                            font-weight: 600;
                            margin-right: 5px;
                        }
                    }
                    .post_comment_view{
                        a{
                            font-size: 14px;
                            color: #8E8E8E;
                            font-weight: 300;
                        }
                    }
                    .post_time{
                        font-size: 10px;
                        color: #8E8E8E;
                        text-transform: uppercase;
                        margin-top: 5px;
                    }
                }
            }
            .card-footer{
                background: #fff;
                padding: 10px;
                display: flex;
                align-items: center;
                border-top: 1px solid #e9e9e9;
                .post_comment{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    .comment_reacet{
                        font-size: 25px;
                        color: #262626;
                        font-weight: 600;
                        display: flex;
                    }
                    .input_comment {
                        width: 100%;
                        border: none;
                        padding: 0 10px;
                        font-size: 14px;
                        color: #2626269c;

                        &:focus{
                            outline: none;
                        }
                    }
                    .post_comment_btn{
                        color: #0095f6;
                        font-size: 14px;
                        background: none;
                        border: none;
                        font-weight: 500;
                    }
                }
            }

        }
    }
}