
.slider_container{
    width: 400px;
    background-image: url(https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png);
    background-size: cover;
    height: 650px;
    margin-top: 30px;
    background-position: center;
    position: relative;

    .full_slider_sec{
        width: 259px;
        position: absolute;
        top: 25px;
        right: 20px;

        img{
            width: 100%;
        }
    }
}
