.container{
    .forgot_password{
        .forgot_form_sec{
            .forgot_data_type{
                font-size: 14px;
                color: #C7C7C7;
                &:focus{
                    color: #000 !important;
                    box-shadow: none !important;
                }
            }
            .create_new_account{
                text-align: center;
                a{
                    font-size: 14px;
                    color: #262626;
                }
            }
        }
    }
}